body {
  /* background-image: url("./assets/img/4884451 1.png"); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* background-color: #14151a; */
  /* background-repeat: no-repeat; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background: radial-gradient(50% 98.02% at 49.57% 50%, #00172D 0%, #00060B 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
